language: python
sudo: false
python:
  - "2.7"
# command to install dependencies
install:
  - "pip install -r requirements.txt"
  - pip install coveralls
# command to run tests
script:
- "nosetests --with-coverage --cover-erase --cover-branches --cover-package=the_ark"
after_success:
  - coveralls