jsonschema==4.4.0
boto3==1.21.23
requests==2.25.1
numpy==1.22.3
Pillow==8.1.2
DateTime==4.4
selenium==4.1.3
mailchimp_transactional==1.0.47
urllib3==1.26.9
coverage==6.3.2
flake8==4.0.1
mock==4.0.3
nose==1.3.7

